name: ci

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        include:
          - os: ubuntu-latest
            platform: linux
          - os: macos-latest
            platform: darwin

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - uses: cachix/install-nix-action@v23

      - uses: cachix/cachix-action@v12
        with:
          name: albafetch
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: build (linux/x64)
        if: runner.os == 'Linux'
        run: nix build -L --accept-flake-config .#albafetch-static

      - name: build (darwin/x64)
        if: runner.os == 'macOS'
        run: nix build -L --accept-flake-config

      - name: test
        run: ./result/bin/albafetch

      - uses: actions/upload-artifact@v3
        if: runner.os == 'Linux'
        with:
          name: albafetch-linux-x64-static
          path: ${{ github.workspace }}/result/bin/albafetch

      - uses: actions/upload-artifact@v3
        if: runner.os == 'macOS'
        with:
          name: albafetch-darwin-x64
          path: ${{ github.workspace }}/result/bin/albafetch

      - name: build (linux/aarch64-multiplatform)
        if: runner.os == 'Linux'
        run: nix build -L --accept-flake-config .#albafetch-arm

      - uses: actions/upload-artifact@v3
        if: runner.os == 'Linux'
        with:
          name: albafetch-linux-aarch64-static
          path: ${{ github.workspace }}/result/bin/albafetch
